@model Product

<section class="container mx-auto mt-8 pt-5">
    <div class="max-w-md mx-auto bg-[var(--bg-color)] rounded-lg shadow-md shadow-[var(--accent)] p-6">
        <img src="@Model.ImgURL" alt="Product Image" class="w-full mb-4">
        <div class="mb-4">
            <div class="font-bold mb-2 text-[var(--accent)]">Product Details</div>
            <div class="text-[var(--text-color)]">Author: <span class="font-bold text-[var(--accent)]">@Model.Author</span></div>
            <div class="text-[var(--text-color)]">Price: <span class="font-bold text-[var(--accent)]">@Model.Price.ToString("C")</span></div>
            <div class="text-[var(--text-color)]">Product Name: <span class="font-bold text-[var(--accent)]">@Model.Title</span></div>
            <div class="text-[var(--text-color)]">Category: <span class="font-bold text-[var(--accent)]">@Model.Category.Name</span></div>
            <div class="text-[var(--text-color)]">Description: <span class="font-bold text-[var(--accent)]">@Model.Description</span></div>
        </div>
        <a href="/Product/Index"
           class="block rounded-md border bg-[var(--accent)] p-2 text-center text-2xl text-[var(--bg-color)]
              duration-200 hover:border-[var(--accent)]
              hover:bg-[var(--bg-color)] hover:p-2 hover:text-[var(--accent)]">Back</a>
    </div>
</section>

