@model MUC.Models.ViewModels.ProductVM

<form method="post" enctype="multipart/form-data" asp-action="Edit" asp-controller="Product" class="form">
    <div class="validation" asp-validation-summary="All"></div>
    <input hidden asp-for="@Model.Product.Id" />
    <div class="title">Update Product</div>
    <div>
        <input asp-for="@Model.Product.Title" id="Title" type="text" />
        <label asp-for="@Model.Product.Title" for="Title">Product Name</label>
    </div>

    <div>
        <input asp-for="@Model.Product.Description" id="Description" type="text" />
        <label asp-for="@Model.Product.Description" for="Description">Description</label>
    </div>
    <div>
        <input asp-for="@Model.Product.Author" id="Author" type="text" />
        <label asp-for="@Model.Product.Author" for="Author">Author</label>
    </div>
    <div>
        <input asp-for="@Model.Product.Price" id="Price" type="text" />
        <label asp-for="@Model.Product.Price" for="Price">Price</label>
    </div>
    <div>
        <input asp-for="@Model.Product.ImgURL" name="file" type="file" />
        <label asp-for="@Model.Product.ImgURL">Image</label>
    </div>

    <div>
        <label asp-for="@Model.Product.CategoryId"></label>
        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList">
            <option disabled selected>--Select Category</option>
        </select>
    </div>
    <br />
    <div>
        <button type="submit" class="button glow-effect">
            Update
            <svg class="glow-container">
                <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
            </svg>
        </button>
        <a class="button glow-effect" asp-controller="Product" asp-action="Index">
            Back
            <svg class="glow-container">
                <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
                <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
            </svg>
        </a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }