@model Menu
<div class="main-section">
    @if (Model != null)
    {
        <p class="pl-8 text-xl md:text-3xl">
            This is what we have for today! Todays Date is <span class="puerto-rico">@DateTime.Now.ToString("MMMM dd, yyyy")</span>
        </p>
        <div>

            @foreach (var producMenus in Model.ProductMenus)
            {
                if (producMenus != null)
                {
                    <section id="card"
                             class="mx-auto w-2/3 mt-6 grid md:w-3/5 md:grid-cols-2 md:gap-x-4 rounded-lg bg-[var(--accent)] text-[var(--bg-color)] p-4 shadow-md">
                        <div id="card-img">
                            <img src="@producMenus.Product.ImgURL"
                                 alt="@producMenus.Product.Title"
                                 class="h-auto w-full rounded-lg" />
                        </div>
                        <div id="card-information" class="flex flex-col justify-between">
                            <div>
                                <h2 class="text-2xl mb-2 font-bold text-[var(--heading-accent)]">@producMenus.Product.Title</h2>
                                <p class="ml-2 text-[var(--text-accent)]">
                                    @producMenus.Product.Description
                                </p>
                            </div>
                            <div class="text-right text-[var(--logo-pink)]">
                                <p>by: @producMenus.Product.Author</p>
                            </div>
                        </div>
                    </section>

                }
            }


        </div>
    }
    else
    {
        <div class="main-paragraph">
            <p> We are <span> off today!</span></p>
        </div>
    }

</div>