@model  Menu
<div class="main-section">
    @if (Model != null) {
        <p class="main-paragraph">
            This is what we have for today! Todays Date is <span>@DateTime.Now.ToString("MMMM dd, yyyy")</span>
        </p>
        <div>
            <div id="cards">
                @foreach (var producMenus in Model.ProductMenus) {
                    if (producMenus != null) {

                        <div class="card">
                            <div class="card-content">
                                <div class="card-image">
                                    <img src="@producMenus.Product.ImgURL" alt="@producMenus.Product.Title">
                                </div>
                                <div class="card-info-wrapper">
                                    <div class="card-info">
                                        <div class="card-info-title">
                                            <h3 class="product-title">@producMenus.Product.Title </h3>
                                            <p class="description"> @producMenus.Product.Description</p>
                                            <p><small class="text-info">by @producMenus.Product.Author </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    }
    else {
        <div class="main-paragraph">
        <p> We are <span> off today!</span></p>
        </div>
    }

</div>